.wrapper {
  display: flex;
  height: 28px;
  width: 100%;
  background-color: darkblue;

  .logo {
    height: 28px;
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
